# Ignore model and lock files
streamlit/app/models/
streamlit/app/models/.locks/
streamlit/app/models/.no_exist/

# Ignore compiled Python files
streamlit/app/__pycache__/

# Ignore other temporary files
streamlit/app/cuda-keyring_1.1-1_all.deb*
streamlit/app/error_log.txt

# Ignore Python virtual environments
venv/

# Ignore .env
*.env

# Ignore temporary files
*.log
*.tmp

# Ignore Miscellaneous folder
Miscellaneous/

# Ignore uploaded_files folder
\streamlit\app\uploaded_files
